body, html {
	margin: 0;
	width: 100%; height: 100%;
	background-color: #111;
	overflow: clip;
}
body {
	display: flex;
	flex-direction: column;
	user-select: none;
}
canvas, img {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

/* canvas */
canvas {
	align-self: center;
	width: 100%; height: fit-content;
}
@media only screen and (orientation: landscape) {
	canvas {
	width: fit-content; height: 100%;
	}
}

/* button types */
.button {
	border-radius: 999px;
	position: absolute;
	text-align: center;
	opacity: 0.3;
	color: #fff;
	overflow: clip;
}
.round {
	background-color: #e14;
	width: 25vmin; height: 25vmin;
	font: 20vmin/25vmin auto;
}
.capsule {
	background-color: #aaa;
	width: fit-content; height: 15vmin;
	font: 12vmin/15vmin auto;
	padding: 0 3vmin;
}
.round:active {background-color: #b13;}
.capsule:active {background-color: #888;}

/* buttons */
#ctrl {
	display: none;
	position: absolute;
	width: 100%; height: 100%;
}
#ctrl_spawn, #fullscreen {top: 5vmin;}
#ctrl_l, #ctrl_r, #ctrl_s, #ctrl_a {bottom: 5vmin;}
#ctrl_l {left:  5vmin;}
#ctrl_r {left:  35vmin;}
#ctrl_s {right: 35vmin;}
#ctrl_a {right: 5vmin;}
#ctrl_spawn {justify-self: center;}
#ctrl_ss {
	bottom: 30vmin; right: 30vmin;
	width: 10vmin; height: 10vmin;
	font: 8vmin/10vmin auto;
}
#fullscreen {
	right: 5vmin;
	cursor: pointer;
}

/* text box */
#textbox {
	position: absolute;
	inset: auto 15vmin 15vmin;
	height: 35vmin;
	background-color: #224;
	color: #fff;
	padding: 3vmin;
	grid-gap: 3vmin;
	border: 2vmin ridge #73b;
	display: /* grid */ none;
	grid-auto-flow: column;
	overflow: auto clip;
}
#portrait {
	height: 100%;
	max-height: 35vmin;
	display: block;
}
#text {
	overflow: clip auto;
	font: calc(0.5rem + 4vmin) / calc(0.5rem + 4vmin) auto;
}
